/* General */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	/* color: #555; */
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: rgb(20, 20, 20);
	border-radius: 4px;
	/* text-transform: uppercase; */
	background-color: #d6dce1;
	/* font-weight: 800; */
	text-align: center;
	font-family: 'Neue Machina';
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 31px;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 15px 0px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	/* text-align: center; */
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

section h2{
	max-width: 800px;
	/* text-align: center; */
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* Header */
header{
	position: absolute;
	left: 452.06px;
	top: 460.96px;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* color: #fff; */
	padding: 35px 100px 0;
	transform: rotate(90deg);
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 13px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
		flex-direction: column;
		position: absolute;
		left: 452.06px;
		top: 179.95999999999998px;
		font-family: 'Neue Machina';
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		line-height: 13px;
		text-align: right;
		text-transform: uppercase;
		color: #1F2839;
		transform: rotate(90deg);
	}
}

@media (max-width: 700px){
	header{
		flex-direction: column;	
		position: absolute;
		left: 180.6px;
		top: 179.95999999999998px;
		font-family: 'Neue Machina';
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		line-height: 13px;
		/* identical to box height */
		text-align: right;
		text-transform: uppercase;
		color: #1F2839;
		transform: rotate(90deg);
	}

	header h2{
		margin-bottom: 15px;
	}
}

/* Hero Section */
.hero{
	position: relative;
	justify-content: center;
	min-height: 60vh;
	/* color: #fff; */
	text-align: center;
}

.hero .background-image{
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 115%;
	height: 100%;
	/* background-size: cover; */
	/* background-color: #2196F3; */
	z-index: -1;
}

.hero .background-image:after{
	/*content: ''; // фильтр */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px) {
	.hero{
		/* min-height: 365px; */
		min-height: 320px;
	}
}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

/* Our Work Section */

/* .оur-work {
	background-color: #fff;
} */

.our-work .grid li{
	/* padding: 20px; */
	padding: 0px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}

/* Features Section */
.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}

/* Reviews Section */
.reviews{
	background-color: #fff;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}
}

/* Contact Section */
.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

/* Footer */
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	/* background-color: #414a4f; */
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}

/* Demo ads */
/* @media (max-width: 1200px) {
	#bsaHolder{ display:none;}
} */

.group48-container {
	/* min-height: 100vh; */
	min-height: 20vh;
  }

  .group48-group48 {
	width: center;
	height: 196.032470703125px;
	display: flex;
	padding: 0;
	position: relative;
	align-self: auto;
	box-sizing: border-box;
	align-items: flex-start;
	flex-shrink: 1;
	border-color: transparent;
	border-style: none;
	border-width: 0;
	margin-right: 0;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 0;
	flex-direction: row;
	justify-content: flex-start;
	background-color: transparent;
  }

  .group48-group43 {
	top: 145.3193359375px;
	left: 223.3173828125px;
	width: 45.02898406982422px;
	height: 43.71302032470703px;
	display: flex;
	padding: 0;
	position: absolute;
	align-self: auto;
	box-sizing: border-box;
	align-items: flex-start;
	flex-shrink: 1;
	border-color: transparent;
	border-style: none;
	border-width: 0;
	border-radius: 0px 0px 0px 0px;
	flex-direction: row;
	justify-content: flex-start;
	background-color: transparent;
  }

  .group48-s-v-g {
	top: 0px;
	left: 0px;
	width: 45px;
	height: 44px;
	position: absolute;
	box-sizing: content-box;
  }

  .group48-s-v-g1 {
	top: 0px;
	left: 0px;
	width: 45px;
	height: 44px;
	position: absolute;
	box-sizing: content-box;
  }

  .group48-group47 {
	top: 0px;
	left: 0px;
	width: 996.2010498046875px;
	height: 196.032470703125px;
	display: flex;
	padding: 0;
	/* position: absolute; */
	align-self: auto;
	box-sizing: border-box;
	align-items: flex-start;
	flex-shrink: 1;
	border-color: transparent;
	border-style: none;
	border-width: 0;
	border-radius: 0px 0px 0px 0px;
	flex-direction: row;
	justify-content: flex-start;
	background-color: transparent;
  }

  .group48-group6 {
	top: 4.135498046875px;
	left: 0px;
	width: 996.2009887695312px;
	height: 191.89697265625px;
	display: flex;
	padding: 0;
	position: absolute;
	align-self: auto;
	box-sizing: border-box;
	align-items: flex-start;
	flex-shrink: 1;
	border-color: transparent;
	border-style: none;
	border-width: 0;
	border-radius: 0px 0px 0px 0px;
	flex-direction: row;
	justify-content: flex-start;
	background-color: transparent;
  }

  .group48-group5 {
	top: 0px;
	left: 0px;
	width: 911.52685546875px;
	height: 191.89697265625px;
	display: flex;
	padding: 0;
	position: absolute;
	align-self: auto;
	box-sizing: border-box;
	align-items: flex-start;
	flex-shrink: 1;
	border-color: transparent;
	border-style: none;
	border-width: 0;
	border-radius: 0px 0px 0px 0px;
	flex-direction: row;
	justify-content: flex-start;
	background-color: transparent;

	color: #414a4f;
	text-transform: capitalize; 
	/* font: bold 32px 'Open Sans', sans-serif; */
	margin-bottom: 35px;
	text-align: center;
  }

  .group48-text {
	left: 611.9248046875px;
	color: rgba(31, 40, 57, 1);
	width: 300px;
	height: auto;
	position: absolute;
	font-size: 27.34798240661621px;
	align-self: auto;
	font-style: ExtraLight;
	text-align: left;
	font-family: Manrope;
	font-weight: 200;
	line-height: 127.99999713897705%;
	font-stretch: normal;
	text-decoration: none;
  }

  .group48-text5 {
	top: 121.89697265625px;
	color: rgba(31, 40, 57, 1);
	width: 254px;
	height: auto;
	position: absolute;
	font-size: 27.34798240661621px;
	align-self: auto;
	font-style: ExtraLight;
	text-align: left;
	font-family: Manrope;
	font-weight: 200;
	line-height: 127.99999713897705%;
	font-stretch: normal;
	text-decoration: none;
  }

  .group48-line7 {
	top: 36.1383056640625px;
	left: 891.692626953125px;
	width: 105px;
	height: 0px;
	position: absolute;
  }

  .group48-line6 {
	top: 178.54638671875px;
	left: 174.4267578125px;
	width: 69px;
	height: 0px;
	position: absolute;
  }

  .group48-b-u-s-i-n-e-s-s {
	top: 0px;
	left: 1.604248046875px;
	width: 576px;
	height: 84px;
	position: absolute;
	box-sizing: content-box;
  }

  .group48-assistants {
	top: 105.014404296875px;
	left: 277.97265625px;
	width: 718px;
	height: 84px;
	position: absolute;
	box-sizing: content-box;
  }

  .group48-subtract {
	top: 0px;
	left: 430.54296875px;
	width: 68px;
	height: 84px;
	position: absolute;
	box-sizing: content-box;
  }

  .group48-subtract1 {
	top: 105.014404296875px;
	left: 430.54296875px;
	width: 68px;
	height: 84px;
	position: absolute;
	box-sizing: content-box;
  } 
  